*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    font-family: 'Roboto', sans-serif;
  }
  
  
  .container{
    width: 300px;
    text-align: center;
    margin: 60px auto;
  }
  
  img{
    width: 200px;
    height: 200px;
    border: 4px solid #ff0000;
    padding: 4px;
    border-radius: 50%;
  }
  
  h1{
    margin-top: 24px;
    margin-bottom: 8px;
  }
  
  a, p{
    text-decoration: none;
    color: black
  }
  
  ul{
    list-style: none;
    margin: 48px 0;
  }
  
  
  ul li a{
    display: flex;
    height: 53px;
    align-items: center;
    justify-content: center;
    background-color: #f90000;
    color: #ffffff;
    border-radius: 8px;
    margin-bottom: 8px;
    transition: background 0.2s;
  }
  
  ul li a:hover{
    background-color: rgb(255, 51, 51);
  }
  
  